.body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: blue;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-header {
    background-color:rgb(184, 184, 184);
    height: 50vh;
    width: 100%;
    color: rgb(255, 255, 255);
}